#s-37910d8c-1523-4da9-8c67-72f83d345dbe #s-background {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-37910d8c-1523-4da9-8c67-72f83d345dbe > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}