#s-3dd76a99-d955-4b1d-886b-0b1e0e744f8f #s-background {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3dd76a99-d955-4b1d-886b-0b1e0e744f8f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}