#s-7b2f4b96-102e-48b4-8cf9-c5b10372fa68 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-7b2f4b96-102e-48b4-8cf9-c5b10372fa68 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}